/* Base Application Styles */
html,body {
  width : 100%;
  height : 100%;
  background-color: #222;
}

/*css实现图片旋转*/
.test-rotate {
  transform: rotate(30deg);
}

/*css实现图片翻转*/
.test-rotateY {
  transform: rotateY(180deg);
}

.content{
  width : 100%;
  height : 100%;
}

.stage{
  position: relative;
  width : 100%;
  height : 850px;
}

/*图片组件*/
.img-sec{
  position: relative;
  width: 100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;
}
    /*图片组件的模型*/
    .img-figure{
      position: absolute;

      width: 320px;
      height: 360px;
      margin:0;
      padding:40px;

      cursor:pointer;
      background-color: #fff;

      box-sizing: border-box;

      transform-style: preserve-3d;

      backface-visibility: hidden;
    }
    /*图片组件的标题组件*/
    .figcaption {
      text-align: center;

      .img-title {
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }
      .img-back {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 50px 40px;
        overflow: auto;
        color: #a7a0a2;
        font-size: 22px;
        line-height: 1.25;
        text-align: left;
        background-color: #fff;
        box-sizing: border-box;
        p {
          margin: 0;
        }
      }
    }
    /*图片组件的标题字体样式*/
    .img-title{
        margin:20px 0 0;
        color:#a7a0a2;
        font-size: 16px;
    }

.controller-nav{
  position: absolute;
  left:0;
  bottom:30px;
  z-index: 101;
  width:100%;
  text-align: center;
}
